<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
    <title>Account</title>
</head>
<body>
    <%- include('../patials/nav-bar.ejs')  %>

<div class="wrapper">
    <div class="container">
          <div class="row  mx-auto py-4">
            <div class="col-sm-6 col-md-4">
              <div class="card ">
                  <div class="card-header text-center">
                      <h4 >Account</h4>
                  </div>
                <div class="card-body text-center">
                    <img class="profile-img img-fluid" src="<%=currentUser.profileImage %> " alt=""> 
                    <br>
                    <a class="text-dark"  href="?path=mylist" >MY LIST</a>
                    <br>
                    <a class="text-dark"  href="?path=booking" >BOOKING HISTORY</a>
                    <br>
                    <a class="text-dark" href="?path=profile" >PROFILE</a>
                    <br>
                    <a class="text-dark" href="/logout">LOGOUT</a>
                    
                </div>
              </div>
            </div>
            <div class="col-sm-6 offset-sm-2 col-md-8 offset-md-0">
                
                <h4>HELLO, <%= currentUser.username %></h4>
                
            <% if(query.path){ %> 
                <% if(query.path=="mylist"){ %>     
                    <div class="card">
                        <div class="card-header">
                            <h5>MY LIST</h5>
                        </div>
                        <div class="card-body">
                        <div class="row">
                            <% collection.mylists.forEach(collection => { %> 
                            
                              <div class="col-lg-6 col-sm-12 mb-3">
                                <div class="col">
                                    <a href="/movies/<%= collection._id %>/?path=showtime">
                                        <div class="card bg-secondary border-secondary mb-1" >
                                            <div class="text-center">
                                                <p class="card-header text-light"><%= collection.name %></p>
                                              </div>
                                            <div class="card-body"><img  src="<%= collection.poster %>" class="card-img-top" alt="..."></div>
                                            
                                          </div>
                                    </a>  
                                  </div>
                                  <div class="col">
                                    <form action="/account/<%= collection._id %>?_method=DELETE" method="post">
                                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                    </form>
                                  </div>
                                   
                              </div>
                            <% }); %>    
                         </div>
                        </div>
                    
                    </div>

                    <% }else if(query.path == "booking"){ %> 
                
                         <div class="card">
                                <div class="card-header">
                                    <h5>BOOKING HISTORY</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <% collection.booking.forEach(element => { %>
                                        <div class="col-lg-6 col-sm-12 mb-3">
                                            <div class="card border-secondary" style="min-width: 15rem;">
                                                <img class="card-img-top" src="<%= element.wideposter %> " alt="Card image cap">
                                                <div class="card-body">
                                                  <h4><%= element.name %></h4>
                                                  <div class="row">
                                                      <div style="border-right: solid;" class="col-4 text-center">
                                                          <h6>DATE</h6>
                                                          <p>28 Jun</p>
                                                      </div>
                                                      <div style="border-right: solid;" class="col-4 text-center">
                                                        <div class="col">
                                                            <h6>TIME</h6>
                                                            <p><%= element.time %></p>
                                                        </div>
                                                        <div class="col">
                                                            <h6>CINEMA</h6>
                                                            <p><%= element.theater %></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 text-center">
                                                        <h6>SEAT</h6>
                                                        <p><%= element.seat %></p>
                                                    </div>
                                                  </div>
        
                                                    <div class="text-center">
                                                        <svg  class="barcode"
                                                            jsbarcode-value="<%= element.ref %>">
                                                        </svg>
                                                    </div>
        
                                                </div>
                                              </div>
                                            </div>
    
                                        <% }) %>
                                    </div>
                                    

                                </div>
                        </div>
                      
                    <% }else if(query.path == "profile"){ %> 

                
                    <div class="card">
                        <div class="card-header">
                            <h5>PROFILE</h5>
                        </div>
                        <div class="card-body">
                            <form action="/account/<%=currentUser._id%>?_method=PUT" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="">Profile Image</label>
                                    <input type="file" name="profileImage" value="<%= currentUser.profileImage %>" accept="image/*" id="">
                                </div>
                                <div class="form-group">
                                    <label for="">Username</label>
                                    <input type="text" name="account[username]" id="" class="form-control" value="<%= currentUser.username %>" >
                                </div>
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="email" name="account[email]" id="" class="form-control" value="<%= currentUser.email %>" >
                                </div>
                                <div class="form-group text-center">
                                    <input type="submit" value="Save" class="btn btn-primary my-2">
                                </div>
                                
                            </form>
                        </div>
                    </div>
                
            <% }}; %>     
            </div>
          </div>       
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    JsBarcode(".barcode").options({
        height:25,
        lineColor:"black",
        fontSize:14
        }).init();
</script>