<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Account</title>
</head>
<body>
    <%- include('../patials/nav-bar.ejs')  %>

<div class="wrapper">
    <div class="container">
          <div class="row  mx-auto py-4">
            <div class="col-sm-6 col-md-4">
              <div class="card ">
                  <div class="card-header text-center">
                      <h4 >Account</h4>
                  </div>
                <div class="card-body text-center">
                    <img class="profile-img img-fluid" src="<%=currentUser.profileImage %> " alt=""> 
                    <br>
                    <a class="text-dark"  href="?path=mylist" >MY LIST</a>
                    <br>
                    <a class="text-dark"  href="?path=booking" >BOOKING HISTORY</a>
                    <br>
                    <a class="text-dark" href="?path=profile" >PROFILE</a>
                    <br>
                    <a class="text-dark" href="/logout">LOGOUT</a>
                    
                </div>
              </div>
            </div>
            <div class="col-sm-6 offset-sm-2 col-md-8 offset-md-0">
                
                <h4>HELLO, <%= currentUser.username %></h4>
                
            <% if(query.path){ %> 
                <% if(query.path=="mylist"){ %>     
                    <div class="card">
                        <div class="card-header">
                            <h5>MY LIST</h5>
                        </div>
                        <div class="card-body">
                        <div class="row">
                            <% collection.mylists.forEach(collection => { %> 
                            
                              <div class="col col-md-6">
                                <div class="col">
                                    <a href="/movies/<%= collection._id %>/?path=showtime">
                                        <div class="card bg-secondary border-secondary mb-1" style="max-width: 18rem; height: 25rem;">
                                            <div class="text-center">
                                                <p class="card-header text-light"><%= collection.name %></p>
                                              </div>
                                            <div class="card-body"><img style="height: 20rem;" src="<%= collection.poster %>" class="card-img-top" alt="..."></div>
                                            
                                          </div>
                                    </a>  
                                  </div>
                                  <div class="col">
                                    <form action="/account/<%= collection._id %>?_method=DELETE" method="post">
                                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                    </form>
                                  </div>
                                   
                              </div>
                            <% }); %>    
                         </div>
                        </div>
                    
                    </div>

                    <% }else if(query.path == "booking"){ %> 
                
                         <div class="card">
                                <div class="card-header">
                                    <h5>BOOKING HISTORY</h5>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title "></h5>
                                    <p class="card-text"></p>
                                </div>
                        </div>
                      
                    <% }else if(query.path == "profile"){ %> 

                
                    <div class="card">
                        <div class="card-header">
                            <h5>PROFILE</h5>
                        </div>
                        <div class="card-body">
                            <form action="/account/<%=currentUser._id%>?_method=PUT" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="">Profile Image</label>
                                    <input type="file" name="profileImage" value="<%= currentUser.profileImage %>" accept="image/*" id="">
                                </div>
                                <div class="form-group">
                                    <label for="">Username</label>
                                    <input type="text" name="account[username]" id="" class="form-control" value="<%= currentUser.username %>" >
                                </div>
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="email" name="account[email]" id="" class="form-control" value="<%= currentUser.email %>" >
                                </div>
                                <div class="form-group text-center">
                                    <input type="submit" value="Save" class="btn btn-primary my-2">
                                </div>
                                
                            </form>
                        </div>
                    </div>
                
            <% }}; %>     
            </div>
          </div>       
    </div>
</div>
</body>
</html>
