<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('patials/nav-bar.ejs')  %>
    <!-- <%- include('patials/adsSlide.ejs')  %> -->
    
    <div class="container">
      <%- messages() %>
    </div>
      <div class="wrapper ">
        <div class="container">
          <div class="card-header">
            <h1>Now in Theaters</h1>
            <div class="row row-cols-lg-4 row-cols-2 row-cols-md-3 ">
            <% allMovie.forEach(collection => { %>
              <% if (collection.showtimes.length!=0) { %>
                <div class="col">
                  <a href="/movies/<%= collection._id %>/?path=showtime">
                      <div class="card bg-secondary border-secondary mb-1" style="max-width: 18rem; height: 70%;">
                          <div class="text-center">
                              <p class="card-header text-light"><%= collection.name %></p>
                              <!-- <p class="card-text text-light mt-3"><%= collection.date.toISOString().slice(0, 10) %></p> -->
                            </div>
                          <div class="card-body"><img src="<%= collection.poster %>" class="card-img-top" style="height: 20rem;" alt="..."></div>
                          
                        </div>
                  </a>     
                </div>
                <% } %>
            <% }) %>
          </div>
          <div class="py-5 text-right"><a href="/movies?path=showtime" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a></div>
          </div>
          
        </div>
      </div>

      

    
  </body>
</html>
<script>
  $(function(){
        $('#messages').addClass('alert alert-success my-3');
    })
</script>