


    <div  class="container">

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header " id="headingOne">
            
            <!-- <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseOne<%= i  %>" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #<%= i  %>
            </button> -->
            <div class="row">
              <div class="col-1"><h6>#</h6></div>
              <div class="col-5"><h6>Name</h6></div>
              
            </div>
          
        </div>
        </div>
        <% var i=1 %> 
        <% allCinema.forEach(allCinema => { %>

          <div class="modal fade" id="editcinema" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Cinema</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/cinemas/<%= allCinema._id %>?_method=PUT" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="">Cinema's Name</label>
                        <input type="text" name="collection[name]" id="" class="form-control" value="<%=allCinema.name %>" >
                    </div>
                    <div class="form-group">
                        <label for="">Cinema's Location</label>
                        <input type="text" name="collection[location]" id="" class="form-control" value="<%=allCinema.location %>" >
                    </div>
                    <div class="form-group">
                        <label for="">Cinema's City</label>
                        <input type="text" name="collection[city]" id="" class="form-control" value="<%=allCinema.city %>" >
                    </div>
                    <div class="form-group">
                        <label for="">Cinema's Theater Number</label>
                        <input type="text" name="collection[theater]" id="" class="form-control" value="<%=allCinema.theater %>">
                    </div>
                    <div class="form-group">
                        <label for="">Cinema's Picture</label>
                        <img style="max-width: 300px;" src="<%= allCinema.picture %> " alt="">
                        <input type="file" name="picture" id="" class="form-control"  accept="image/*" >
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary my-2">
                </form>
                </div>
        
              </div>
            </div>
          </div>

        <div class="card">
          <div class="card-header " id="headingOne">
            
              <!-- <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseOne<%= i  %>" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #<%= i  %>
              </button> -->
              <div class="row">
                <div class="col-1"><h6><%=i %></h6></div>
                <div class="col-5"><a class="text-dark" href="/cinemas/<%= allCinema._id %>?path=showtime"><%= allCinema.name %></a> </div>
                <div class="col-4 ">
                  <div class="button-groub">
                    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseOne<%= i  %>" aria-expanded="true" aria-controls="collapseOne">Showtime</button>

                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editcinema">
                      Edit
                    </button>
                    
                    <form style="display: inline;" action="/cinemas/<%= allCinema._id %>?_method=DELETE" method="post">
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete<%=i%>">
                        Delete
                      </button>
                      
                    <div class="modal fade" id="delete<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content ">
                          <div class="modal-body">
                            <h5 class="text-danger"><i class="fas fa-exclamation-triangle"></i> Delete <%=allCinema.name%> ?</h5>
                            <p>This is not something you can undone.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
               </form> 

                  </div>
                </div>
              </div>
            
          </div>
      
          <div id="collapseOne<%= i++ %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <form class="form-inline" action="/manage/cinema/<%= allCinema._id %> " method="post">
              
                    <div class="form-group mr-sm-2">
                      <label for="">Movie : </label>
                      <select class="form-control" name="showtime[movie]" id="">
                          <option selected>select</option>
                          <% allMovie.forEach(allMovie => { %>
                            <option value="<%= allMovie._id  %>"><%= allMovie.name  %> </option>       
                          <% }) %> 
                        </select>
                    </div>

                    <!-- <div class="form-group mr-sm-2">
                      <label for="">Theater : </label>
                      <select class="form-control" name="showtime[theater]" id="">
                          <option selected>select</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>

                  </div> -->
        
                    <div class="form-group">
                        <label for="">Time : </label>
                        <input class="form-control mr-sm-2" type="time" name="showtime[time]" id="">
                    </div>

                    <button class="btn btn-success">Add New</button>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  
                  
                  
                </div>


              </div>
            </div>
            
            

          </div>
          
        </div>
        <% }) %>
      </div>
      
</div>


<script>
     
function myFunction() {
  confirm("Are you sure to delete this?");
 }
</script>