<div class="row mx-auto py-3 px-3">

  <% foundMovie.forEach(foundMovie => { %>
    <% if(foundMovie.showtimes.length && collection.showtimes.length ) {%>

      <div class="card mx-auto mt-2 col-12">
        <div class="row">
          <div class="col-sm-3 text-center">
            <img class="img-fluid" style="max-width: 180px;" src="<%= foundMovie.poster %> " alt="">
          </div>
          <div class="col-sm-9">
            <div class="card-body">
              <h4 class="card-title"><%= foundMovie.name %> </h4>
              <!-- <h6 class="card-text"><i class="fas fa-video"></i> Theatre 1</h6>
              <h6 class="card-text"><i class="fas fa-volume-up"></i> ENG</h6> -->
              <h6 class="card-text"><i class="fas fa-tag"></i> <%= foundMovie.genre %> </h6>
              <br>
              <% collection.showtimes.forEach(function(showtimes){  %>
                <% if(foundMovie.name == showtimes.movie.name){ %>   
                    
                    <a class="btn btn-info" href="/booking/<%= foundMovie._id %>/<%= showtimes._id %>  "><%= showtimes.time %></a>
                  
                <% } %> 
            <% }) %>
            </div>
          </div>
        </div>
    </div>

      

      <% } %>  
  <% }); %>
</div>


