<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
   

    

    <title>Movies</title>
</head>
<body>
    <%- include('../patials/nav-bar.ejs')  %>
    
	<div class="container pt-4 text-center">
		<div class="btn-group btn-group-toggle " data-toggle="buttons">
			<label class="btn btn-secondary active">
			  <input type="radio" onclick="myFunction1()" checked> Now Showing
			</label>
			<label class="btn btn-secondary">
			  <input type="radio" onclick="myFunction2()" > Coming Soon
			</label>
		  </div>
	</div>
	

    <div class="wrapper">
        <div class="container py-1">
            <%- messages() %> 
			<div class="" id="now">
				<div class="text-right">
					<div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Sort by : <%= query.sort %> 
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="">Select</a>
						  	<a class="dropdown-item" href="?sort=Name">Name</a>
						 	<a class="dropdown-item" href="?sort=Date">Date</a>
						  	<a class="dropdown-item" href="?sort=Rating">Rating</a>
						</div>
					  </div>
				</div>
				<%- include('movies_patials/nowShowing.ejs')  %> 
			</div>
	  
			<div class="hide" id="comin">
				<div class="text-right">
					<div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Sort by : <%= query.sort %> 
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="">Select</a>
						  	<a class="dropdown-item" href="?sort=Name">Name</a>
						  	<a class="dropdown-item" href="?sort=Date">Date</a>
						  	<a class="dropdown-item" href="?sort=Rating">Rating</a>
						</div>
					  </div>
				</div>
				<%- include('movies_patials/comingSoon.ejs')  %> 
			</div> 		
        </div>
    </div>
	
    

</body>

<script>
	function myFunction1() {
       var x = document.getElementById("now");
       var y = document.getElementById("comin");
       x.classList.remove("hide");
       y.classList.add("hide");
    }

    function myFunction2() {
       var x = document.getElementById("now");
       var y = document.getElementById("comin");
       x.classList.add("hide");
       y.classList.remove("hide");
    }
</script>

</html>

