<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/rating.css' />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../patials/nav-bar.ejs')  %>
<div class="wrapper" style='background-image: url("<%=collection.widePoster %>");'>
    <div class="container justify-content-center">
       
        <div class="row py-3 mx-auto justify-content-center">
            <div class="col-sm-5 col-md-6 col-8 align-self-center ">
                <img class="img-fluid " style="width: 30rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="<%= collection.poster %> " alt="">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 align-self-center mt-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= collection.teaser %> " allowfullscreen></iframe>
                </div>
                 
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title text-center"><%= collection.name  %></h4>
                        <h6 class="card-title"><i class="fas fa-tags">&nbsp&nbsp</i>Genre&nbsp: <%= collection.genre %></h6>
                        <h6 class="card-title"><i class="fas fa-eye">&nbsp&nbsp</i>Rate&nbsp&nbsp&nbsp&nbsp: <%= collection.rate %></h6>
                        <h6 class="card-title"><i class="fas fa-stopwatch">&nbsp&nbsp&nbsp</i>Time&nbsp&nbsp&nbsp: <%= collection.time %> Mins</h6>
                        <h6 class="card-title">IMDB Score&nbsp&nbsp&nbsp: <%= collection.rating %>/10</h6>
                        <!-- <h6 class="card-title">Users Score&nbsp&nbsp&nbsp: <%= collection.userrating %></h6> -->
                        
                        <!-- <% var rate =collection.rating  %>  -->
                        <!-- <h6>IMDB:&nbsp&nbsp&nbsp<% for( let index = 0; index <  5; index++ ) { %>
                            <% if (rate!=0) { %>
                              <span class="fa fa-paw fa-2x checked"></span>
                              <% rate-=1; %> 
                            <% }else { %>
                              <span class="fa fa-paw fa-2x"></span>
                              <% } %> 
                            <% } %></h4> -->
                        

                        <% if (flag==0) { %>
                          <form class=" text-center"  action="/account/<%= collection._id %>" method="post">       
                            <button class="btn btn-outline-danger" type="submit"><i class="fas fa-heart"></i></button>
                          </form>
                        <% }else{ %>
                          <form class=" text-center" action="/account/<%= collection._id %>?_method=DELETE" method="post">       
                            <button class="btn btn-danger" type="submit"><i class="fas fa-heart"></i></button>
                          </form>
                        <% } %> 
                          
                         
                      </div>
                      
                </div>

                  
                 
                
            </div>
          </div>       
            
  </div>
  </div>

      
      <% if(query.path){  %>
        <% if(query.path=="infomation") {  %>
      
        <%- include('movies_patials/info.ejs')  %> 
      
        <% }else if(query.path=="review"){ %> 
      
        <%- include('movies_patials/reviews.ejs')  %> 
      
        <% }else if(query.path=="showtime"){ %> 
      
        <%- include('movies_patials/showtimes.ejs')  %> 
      

      <% }}; %> 

    </div>
  </div>  
</body>
</html>

  <script>
    window.scrollTo(0,document.body.scrollHeight);
    </script>