<%- include('../patials/nav-bar.ejs')  %>
<div class="wrapper">
    <div class="container ">
       
        <div class="row py-3 mx-auto">
            <div class="col-sm-5 col-md-6 align-self-center">
                <img class="img-fluid " style="width: 30rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="<%= collection.poster %> " alt="">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 align-self-center ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= collection.teaser %> " allowfullscreen></iframe>
                </div>

                <div class="card my-5">
                    <div class="card-body">
                        <h4 class="card-title text-center"><%= collection.name  %></h4>
                        <h6 class="card-title"><i class="fas fa-tags">&nbsp&nbsp</i>Genre&nbsp: <%= collection.genre %></h6>
                        <h6 class="card-title"><i class="fas fa-eye">&nbsp&nbsp</i>Rate&nbsp&nbsp&nbsp&nbsp: <%= collection.rate %></h6>
                        <h6 class="card-title"><i class="fas fa-stopwatch">&nbsp&nbsp&nbsp</i>Time&nbsp&nbsp&nbsp: <%= collection.time %> Mins</h6>
                        <h6 class="card-title"><img src="/images/images.png" width="50px" alt=""></h6>
                      </div>
                </div>

                  <form action="/account/<%= collection._id %> " method="post">
                    <!-- <a class="btn btn-danger" href="/movies/<%= collection._id %>/addtolist"><i class="fas fa-plus"></i> MY List</a> -->
                    <input class="btn btn-danger" type="submit"  value="MY List">
                  </form>
                 
                
            </div>
          </div>       
            
  </div>
  </div>

  <div class="wrapper">
    <div class="container py-3 ">
      <div class="text-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" onclick="myFunction3()"> Showtime
          </label>
          <label class="btn btn-secondary">
            <input onclick="myFunction1()" type="radio"  checked> Infomations
          </label>
          <label class="btn btn-secondary">
            <input type="radio" onclick="myFunction2()"> Reviews
          </label>
          
        </div>
      </div>
      
      <div class="" id="info">
          <%- include('movies_patials/info.ejs')  %> 
      </div>

      <div class="hide" id="rev">
        <%- include('movies_patials/reviews.ejs')  %> 
      </div>

      <div class="hide" id="show">
        <%- include('movies_patials/showtimes.ejs')  %> 
      </div>

      

    </div>
  </div>  

  <script>
    function myFunction1() {
       var x = document.getElementById("info");
       var y = document.getElementById("rev");
       var z = document.getElementById("show");
       x.classList.remove("hide");
       y.classList.add("hide");
       z.classList.add("hide");
    }

    function myFunction2() {
       var x = document.getElementById("info");
       var y = document.getElementById("rev");
       var z = document.getElementById("show");
       x.classList.add("hide");
       y.classList.remove("hide");
       z.classList.add("hide");
    }

    function myFunction3() {
       var x = document.getElementById("info");
       var y = document.getElementById("rev");
       var z = document.getElementById("show");
       x.classList.add("hide");
       y.classList.add("hide");
       z.classList.remove("hide");
    }
    </script>